<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bluethink" translate="label" sortOrder="10">
            <label>Bluethink</label>
        </tab>
        <section id="mage" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Bluethink</label>
            <tab>bluethink</tab>
            <resource>Mageplaza_HelloWorld::helloworld_config</resource> <!--define as ACL -->
            <group id="customConfig" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Custom Configuration</label>
                <field id="paymentmethod" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Payment Methods</label>
                    <source_model>Bluethink\CustomSection\Model\Adminhtml\Helper\Data</source_model>
                </field>
                <field id="allow_add_to_cart" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Add To Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
       
              
    </system>
</config>