<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Changing value for both Controllers  -->
   <!-- <type name="Newthink\Di\Model\Custom">
        <arguments>
                <argument name="namespace" xsi:type="string">changed</argument>
        </arguments>
    </type> -->

<!-- return array -->
    <!-- <type name="Newthink\Di\Model\Custom">
        <arguments>
            <argument name="fruits" xsi:type="array">
                <item name="apple" xsi:type="string">Apple</item>
                <item name="orange" xsi:type="string">Orange</item>
            </argument>
        </arguments>
    </type> -->

<!-- virtual type  -->
     <!-- <virtualType name="CustomVirtual" type="Newthink\Di\Model\Custom">
        <arguments>
            <argument name="namespace" xsi:type="string">changed</argument>
        </arguments>
    </virtualType>

    <type name="Newthink\Di\Controller\Example\Index">
        <arguments>
            <argument name="custom" xsi:type="object">CustomVirtual</argument>
        </arguments>
    </type> -->

<!-- override controller ,block and model using Preferences-->

<preference for="Magento\Customer\Controller\Account\Index" type="Newthink\Di\Controller\Rewrite\Product\Index" />

<preference for="Magento\Customer\Block\Account\Dashboard\Address" type="Newthink\Di\Block\Rewrite\Account\Dashboard\Address" />

<preference for="Magento\Customer\Model\Address\Config" type="Newthink\Di\Model\Rewrite\Address\Config" />

<!-- Plugins Before, after And around -->
    <!-- <type name="Magento\Catalog\Model\Product">
        <plugin name="update_product_before_save" type="Newthink\Di\Plugin\UpdateProductPlugin" sortOrder="1" disabled="false"/>
    </type> -->

    <type name="Newthink\Di\Controller\Example\Index">
        <plugin name="update_titles_before_after_save" type="Newthink\Di\Plugin\Testing" sortOrder="10" disabled="false"/>
        <plugin name="update_titles_classtwo_before_after_save" type="Newthink\Di\Plugin\TestingTwo" sortOrder="20" disabled="false"/>
    </type>
 
</config>