<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bluethink" translate="label" sortOrder="10">
            <label>Bluethink</label>
        </tab>
        
        <section id="csv" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>CSV</label>
            <tab>bluethink</tab>
            <resource>Bluethink_Grid::grid_config</resource> <!--define as ACL -->
            <group id="dataConfig" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                
                <label>Create CSV</label>
                <field id="startdate" translate="label" type="date" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Date</label>
                    <frontend_model>Bluethink\Grid\Block\Adminhtml\System\Config\Date</frontend_model>
                </field>

                <field id="enddate" translate="label" type="date" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>End Date</label>
                    <frontend_model>Bluethink\Grid\Block\Adminhtml\System\Config\Date</frontend_model>
                </field>

                <field id="allow_download_csv" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Download Csv</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <!-- <field id="display_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Display Text</label>
                    <comment>This text will display on the frontend.</comment>
                </field> -->
            </group>
        </section>
              
    </system>
</config>